
body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size:70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.whitetext {
  color: white;
}

.banner {
  background-image: url("../images/the-flatiron-building.png");
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}
